.log-item {
  border-radius: var(--border-radis, 6px);
  background: orange;
  padding: 10px;
  display: flex;
}

.log-item .calendar-icon {
  border-radius: var(--border-radius);
  background: #fff;
  width: 60px;
  height: 60px;
  flex-direction: column;
  display: flex;
  text-align: center;

  font-size: 30px;
  font-weight: 600;
  overflow: hidden;
}

.calendar-icon .cal-month {
  background-color: red;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color: #fff;
}

.log-item .log-title {
  margin-bottom: 10px;
}
.log-item .log-time {
  color: white;
}
