.log-form {
  background: #d1dda7;
  padding: 10px 0;
  max-width: 800px;
}

.log-form-item {
  display: flex;
  margin: 10px;
  align-items: center;
}
.log-form-item .log-form-input {
  flex: 1;
  height: 26px;
}
.log-form-item .log-form-label {
  /* min-width: 60px; */
  width: clamp(60px, 10%, 100px);
}

.form-btn {
  border: none;
  padding: 6px 16px;
  border-radius: var(--border-radius);
  cursor: pointer;
}
